body {
  background-image: url(https://umshi.blob.core.windows.net/images/2014/12/Rainbow-Background-Images-173.jpg);
  background-size: cover;
  background-repeat: no-repeat;

}

h1, .input{
 text-align: center;
}
 
.list {
  margin-left:25%;
  line-height: 150%;

}

.coolTitle {
  text-align: center;
  font-family: 'Oswald', Helvetica, sans-serif;
  font-size: 40px;
  transform: skewY(-10deg);
  letter-spacing: 4px;
  word-spacing: -8px;
  color: tomato;
  text-shadow: 
    -1px -1px 0 firebrick,
    -2px -2px 0 firebrick,
    -3px -3px 0 firebrick,
    -4px -4px 0 firebrick,
    -5px -5px 0 firebrick,
    -6px -6px 0 firebrick,
    -7px -7px 0 firebrick,
    -8px -8px 0 firebrick,
    -30px 20px 40px dimgrey;
}
ul {
  list-style: none;
}

li:before {
  content:'\2610';
  display:inline-block;
  color:black;
  padding:0 6px 0 0;
}

.done{
  text-decoration: line-through;
}

.done:before {
  content:'\2713';
  display:inline-block;
  color:red;
  padding:0 6px 0 0;
}